@page "/"
@inject HttpClient Http
@using System.Globalization
@using SurfProgressAPI.Shared.Models

<div>
    <div class="col-6">
        <h2 class="text-primary">Surf Progress Chart</h2>
    </div>

    @if (surfSessions != null)
    {
        <div class="row">
            <div class="col-md-6 col-sm-12 p-4">
                <RadzenChart>
                    <RadzenLineSeries Smooth="true" Data="@surfSessions" CategoryProperty="Date" Title="Wave Count" ValueProperty="WaveCount">
                        <RadzenMarkers MarkerType="MarkerType.Circle" />
                    </RadzenLineSeries>
                    <RadzenCategoryAxis Padding="20" FormatString="{0:MMM.dd}" />
                    <RadzenValueAxis>
                        <RadzenGridLines Visible="true" />
                        <RadzenAxisTitle Text="Wave Count" />
                    </RadzenValueAxis>
                </RadzenChart>
            </div>
        </div>
    }
    else
    {
        <label>Loading..</label>
    }
</div>


@code {
    List<SurfSession> surfSessions;

    protected override async Task OnInitializedAsync()
    {
        surfSessions = await Http.GetFromJsonAsync<List<SurfSession>>("/api/SurfSession");
        surfSessions.Sort((y, x) => x.Date.CompareTo(y.Date));
    }
}
